.brand {
    .brand__writer{
        .brand__writer__title{
            @include title($color-white-0, $color-purple-0);
            img {
                width: 100vw;
                height: 100vw;
              }
        }
        .brand__writer__content{
            width: 75%;
            margin: 0 auto;
            justify-content: center;
            .brand__writer__left{
                background-color: #FFE699;
                text-align: left;
                .card-body{
                    h2, h3, h5{
                        text-align: left;
                    }
                    hr{
                        text-align: left;
                        color: #FFC30E;
                        height: 3px;
                    }
                }
            }
    
            .brand__writer__right{
                img {
                    width: 100%;
                    height: auto;
                  }
            }
           
        }
        @media screen and (max-width: 600px) {
            .brand__writer__content{
                width: 100%;
            }
        }
    }

    .brand__story {
        width: 80%;
        margin: 0 auto;
       
        .brand__story__title{
            @include title($color-purple-1, $color-purple-0);
           
        }
        .brand__story__subtitle{
            padding: 10px 0;
            @include title($color-white-0, $color-purple-0);
            h4{
                width: 70%;
                margin: 0 auto;
                margin-bottom: 1rem;
                border-bottom: 1px solid $color-purple-0;
                padding: 20px 0;
            }
        }
    }
        @media screen and (max-width: 600px) {
            .brand__story {
                width: 100%;
                padding: 10px 0;
                .brand__story__subtitle{
                    h4{
                        width: 100%;
                    }
                }
            }
        }

    .brand__view{
        width: 70%;
        margin: 0 auto;
        .brand__view__title{
            @include titleNoBold($color-yellow-3, $color-purple-0);
        }
    }
        @media screen and (max-width: 600px) {
            .brand__view {
                width: 100%;
            }
        }

    .brand__value{
        width: 70%;
        margin: 0 auto;
        .brand__value__title{
            @include title($color-purple-1, $color-purple-0);
        }
        
        .brand__value_subtitlte{
            text-align: left;
            padding-left: 0;
            @include title($color-white-0, $color-purple-0);
            p{
                text-align: left;
            }
        }
        .rand__value__content{
            .rand__value__left{
                .brand__value_subtitlte{
                    text-align: left;
                    padding-left: 0;
                }
                padding: 10px 0;
                p{
                    text-align: left;
                }
            }
            .rand__value__right{
                .brand__value_subtitlte{
                    text-align: right;
                    padding-right: 0;
                    @include title($color-white-0, $color-purple-0);
                    p{
                        text-align: right;
                    }
                }
                p{
                    text-align: right;
                }
            }
            hr{
                color: $color-purple-0;
            }
           
        }

    }
    @media screen and (max-width: 600px) {
        .brand__value {
            width: 100%;
        }
    }

}


